.body {
  margin: 80px 00px 0px 0px;
  max-width: 85vw;
  display: flex;
  padding: 30px 90px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  color: var(--p);
  background-color: var(--b1);
  box-shadow: 3.2px 6.4px 6.4px var(--b2);
}

.title {
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
