.button {
  margin: 20px 0px 0px 0px;
  width: 150px;
  height: 40px;
  border: #cd82a5 solid 1px;
  border-radius: 20px;
  color: rgba(240, 248, 255, 0.842);
  font-size: 15px;
  font-weight: 600;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(255, 99, 255)),
    to(rgb(255, 127, 115))
  );
  &:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(255, 137, 255)),
      to(rgb(255, 159, 151))
    );
  }
}
