.body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--p);
  margin-top: 10px;
}

.active {
  cursor: pointer;
  width: 30px;
  height: 30px;
  fill: var(--p2);
  margin: 20px 10px;
}

.inActive,
.inActive * {
  margin: 20px 10px;

  cursor: pointer;
  width: 30px;
  height: 30px;
  fill: var(--g);
}

.value {
  width: 45px;
  display: flex;
  justify-content: center;
  color: var(--p2);
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
