.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222129;
  color: #cd82a5;

  // border: salmon solid 1px;
}

.body img {
  cursor: pointer;
  display: flex;
  margin: 20px 10px;
  color: #cd82a5;
  width: 24px;
}

.inActive {
  opacity: 0.3;
}

.value {
  width: 45px;
  display: flex;
  justify-content: center;
  color: var(--color-pr);
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
