.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--b1);
  color: var(--p2);
  margin-top: 10px;

  // border: salmon solid 1px;
}

.body img {
  cursor: pointer;
  display: flex;

  color: var(--p);
  width: 24px;
}

.active {
  cursor: pointer;
  width: 30px;
  height: 30px;
  fill: var(--p2);
  margin: 20px 10px;
}

.inActive {
  cursor: pointer;
  width: 30px;
  height: 30px;
  fill: var(--p2);
  opacity: 0.3;
  margin: 20px 10px;
}

.value {
  width: 45px;
  display: flex;
  justify-content: center;
  color: var(--color-pr);
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.05em;
}
