.body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-b);
  width: 33vh;
  max-width: 50%;
  height: 11vh;
}

.bar {
  display: inline-flex;
  border-radius: 50%;
  background-color: var(--color-pr);
  width: 1.5vh;
  height: 1.5vh;
}

.bar_active {
  display: inline-flex;
  border-radius: 50%;
  background-color: var(--color-pr);
  width: 1.5vh;
  height: 1.5vh;
  opacity: 0.1;
}
