.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cd82a5;
  font-size: 16px;
  font-weight: 100;
}

.user {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body img {
  display: flex;
  margin-right: 10px;
  color: #cd82a5;
  width: 20px;
}

.button {
  margin: 20px 0px 0px 0px;
  width: 150px;
  height: 40px;
  border: #cd82a5 solid 1px;
  border-radius: 20px;
  color: rgba(240, 248, 255, 0.842);
  font-size: 15px;
  font-weight: 600;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(255, 99, 255)),
    to(rgb(255, 127, 115))
  );
  &:hover {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgb(255, 137, 255)),
      to(rgb(255, 159, 151))
    );
  }
}
