:root {
  --p: #cd82a5;
  --pa: #fce1e3;
  --p2: #f66c8a;
  --b: #222129;
  --b1: #1d1c24;
  --b2: #2d2c35;
  --animTime: 10s;
}

// $mainColor: #cd82a5;
// $bColor: #222129;
// $bColor1: #2d2b35;
// $bColor2: #131218;

// :export {
//   mainColor: $mainColor;
//   bColor: $bColor;
//   bColor1: $bColor1;
//   bColor2: $bColor2;
// }
