:root {
  --p: #ef98d0;
  --pa: #fce1e3;
  --p1: #ce6fd0;
  --p2: #ef7dc6;
  --p3: #953ce1;
  --p4: #6242f5;
  --t: #9897a3;
  --t1: #ebebeb;
  --b: #221f2e; // 222129
  --b1: #2e2b3f; // 2e2b3f  1d1c24
  --b2: #1e1c29;
  --b3: #3a364e;
  --g: #514e61;
  --animTime: 10s;
}
