.circle {
  cursor: pointer;
  margin-top: -10px;
  width: calc(20vh - 10px);
  height: calc(20vh - 10px);

  &:hover {
    opacity: 1;
  }
}

.text {
  font-size: 8vh;
  color: var(--p);
  font-weight: 200;
}
