.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cd82a5;
  font-size: 16px;
  font-weight: 100;
}

.title {
  max-width: 75vw;
  text-align: center;
  margin: 10px;

  border-radius: 20px;
  font-size: 22px;
  color: var(--p);
}

.description {
  margin-top: 10px;
  width: 600px;
  max-width: 85vw;
  color: var(--t);
  background-color: var(--b1);
  border-radius: 20px;
  padding: 15px 20px 15px 40px;
  box-shadow: 3.2px 6.4px 6.4px var(--b2);
}

.item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 25px;
  fill: var(--p1);
}
