.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  height: 200px;
}

.progress_columns {
  display: flex;
}

.bar_container {
  width: 60px;
  margin: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  justify-items: center;
}

.item,
.item_active {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  background-color: rgb(218, 99, 158);
}

.item {
  opacity: 0.1;
}

.difficulty {
  font-size: 20px;
  color: antiquewhite;
}
