.body {
  max-width: 90vw;
}

#myContainer {
  margin: 0 auto;
  width: calc(60vh - 100px);
  height: calc(60vh - 100px);

  background-image: linear-gradient(#ef7dc6 40%, #6242f5 100%);
  -webkit-mask-box-image: url(../../shared/icons/breath.svg);
}

#myContainer2 {
  position: relative;
  z-index: -1;
  display: block;
  bottom: 0%;
  width: 100%;
  height: 0%;
  opacity: 0.5;
  background: var(--pa);

  animation-duration: var(--animTime);
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#test {
  color: aqua;
}

@keyframes breath {
  from {
    top: 100%;
    height: 0%;
  }
  to {
    top: 0%;
    height: 100%;
  }
}

@keyframes breath2 {
  from {
    top: 0%;
    height: 100%;
  }
  to {
    top: 100%;
    height: 0%;
  }
}

@keyframes breath3 {
  from {
    top: 0%;
    height: 100%;
  }
  to {
    top: 0%;
    height: 100%;
  }
}
.animVdoh {
  animation: breath;
}
.animVidoh {
  animation: breath2;
}
.animZad {
  animation: breath3;
}
