.lungs {
  display: flex;
  width: 300px;
  height: 300px;
  max-width: 90dvw;
  max-height: 90dvw;
  position: relative;
  background-image: linear-gradient(#ef7dc6 40%, #6242f5 100%);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-box-image: url(../../shared/ui/icons/breath.svg);
}

.lungs2 {
  position: absolute;
  z-index: 4;
  display: block;
  bottom: -25px;
  width: 300px;
  max-width: 90dvw;
  max-height: 90dvw;
  height: 0px;

  opacity: 0.6;
  background: var(--pa);
  box-shadow: 0 0 20px 20px var(--pa);

  animation-duration: var(--animTime);
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes breath {
  from {
    height: 0px;
  }
  to {
    height: 300px;
  }
}

@keyframes breath2 {
  from {
    height: 300px;
  }
  to {
    height: 0px;
  }
}

.animVdoh {
  animation: breath var(--animTime) linear 1 forwards;
}
.animVidoh {
  animation: breath2 var(--animTime) linear 1 forwards;
}
.animZad {
  height: 300px;
}
