.lungs {
  display: flex;
  width: 450px;
  height: 450px;
  max-width: 90dvw;
  max-height: 90dvw;
  position: relative;
  // background-image: linear-gradient(#ef7dc6 40%, #6242f5 100%);
  background-color: #ef7dc6;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image: url(../../shared/ui/icons/breath.svg);
  mask-image: url(../../shared/ui/icons/breath.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain; /* или cover / 100% */
  mask-size: contain;
  transition: all;
  transition-duration: 1s;
}

.lungsPending {
  background-image: none;
  background: var(--b1);
}

.lungs2 {
  position: absolute;
  z-index: 4;
  display: block;
  bottom: -25px;
  width: 100%;
  height: 0;

  opacity: 0.6;
  background: var(--pa);
  box-shadow: 0 0 10px 10px var(--pa);

  animation-duration: var(--animTime);
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes breath {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes breath2 {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}

.animVdoh {
  animation: breath var(--animTime) linear 1 forwards;
}
.animVidoh {
  animation: breath2 var(--animTime) linear 1 forwards;
}
.animZad {
  height: 450px;
}
