.start_button {
  // margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(20vh - 10px);
  height: calc(20vh - 10px);

  color: #cd82a5;
  border: 3px solid #f66c8a;
  border-radius: 50%;
  background-color: var(--b1);
}

.start_icon {
  fill: var(--p);
  width: 30%;
  height: 30%;
  margin: 0px 0 0 3px;
}
